<h1>Pitches#index</h1>
<p>Find me in app/views/pitches/index.html.erb</p>

<ul>
  <% @pitches.each do |pitch| %>
  <% if policy(pitch).index? %>
    <li> <%= pitch.name link_to "See more", pitch_path(pitch) %></li>
    <% end %>
  <% end %>
</ul>
