<tbody>
<% @pitches.each do |pitch| %>
  <tr>
    <% if policy(pitch).index? %>
      <td> <%= pitch.name %> <%= link_to "See more", pitch_path(pitch) %></td>
      <% end %>
    <% end %>
  </tr>
</tbody>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


