<div class="container">
  <img src="" alt="">
  <div class="search-form">
    <form action="">
      <input type="text">
      <input type="text">
      <input type="text">
      <input submit>
    </form>
  </div>
</div>
