<%= render "shared/background_image" %>

<div class="container">

  <%= simple_form_for :search, url: pitches_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :address %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>

