.card-pitches{

}

.card-pitch {
  display: flex;
  background: white;
  height: 100px;
  margin-bottom: 55px;

  .card-pitch-description {
    p {
      font-size: 10px;
    }
  }

  img {
    height: 100%;
    width: 100px;
    object-fit: cover;
  }
  &:hover {
    transform: scale(1.02);
    transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
}

// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: -1;
//   background: transparent;
// }

