.cards-home {
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-home {
// display: flex;
  margin-left: 15px;
  height: 300px;
  width: 230px;
  margin-bottom: 55px;
  border: solid 1px lightgrey;
  background: white;
  border-radius: 3%;

}

.card-img1 {
  object-fit: cover;
  height: 50%;
  width: 100%;
  border-radius: 3%;
}

.background {
  background: #f4f4f4;
}

.card-home-info {
  padding: 16px;
  // justify-content: space-between;
}

.h1 {
  color: white;
}
