.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  h5 {
    text-align: right;
  }
}

#map-link-marker {
  text-decoration: none;
  color: black;
}
