.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-login {
  color: black;
}

.nav-special {
  color: black !important;
}

